body

{
	margin: 0 !Important;
}

.wrapper
{
	width: 100%;
}

.header
{
	width: 100%;
}

.logo
{
	float: left;
	padding: 5px 0 10px 10px;
}

.misja
{
		float: left;
		font-family:'Crete Round', serif;
		font-weight: bold;
		font-style: italic;
		font-size: 46px;
		padding-top: 25px;
		padding-left: 8%;
		padding-bottom: 5px;
}

.opis 
{
	clear: both;
	background-color: #D3D3D3;
	width: 96%;
	font-size: 20px;
	padding: 2%;
}
	
/* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */
      /* ogółny wygląd menu*/
	  
 .menu
{ 
	width: 100%;
	background-color: #00009C;
	text-align: center;
}

 /* usunięcie domyślnych właściwości CSS z elementów listy głównej - ol*/
 
ol
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 18px;
	height: 32px;
	line-height: 200%;
	display: inline-block;
	position: relative;
	z-index: 100;
}

ol > li
{
	background-color: #00009C;
	border-radius: px;
}

 /* wygląd elementów a - listy głównej - ol*/

ol  a
 {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
 }
  
 /* właściwości elementów li - potomków elementów listy głównej - ol*/
 
ol > li
{
	float: left;
	width: 100px;	
	}
 
 /* właściwości elementów li - potomków elementów listy głównej - ol, po najechaniu kursorem myszki na element li*/

 ol > li:hover
 {
	 background-color: #00007A;
	 border: 1px solid #FFFFFF;
	 height: 34px;
	 border-radius: 6px;
 }

  /* wygląd elementów a - listy głównej - ol po najechaniu kursorem myszy na element li*/
 
 ol > li a:hover
 {
	 color: #FDD700;
 }
 
   /* ------------------------ROZWINIĘCIE MENU CZĘŚĆ 1------------------------ */

 /* wygląd elementów ul - podlisty rozwijanej*/
 
 ol > li > ul
 {
	 list-style-type: none;
	 padding: 0;
	 margin: 0;
	 display: none;
 }
 
    /* wygląd elementów li - potomków elementów ul podlisty rozwijanej będących potomkami elementów li głównej listy rozwijanej ol*/
	
ol > li > ul > li
{
	background-color: #00009C;
	width: 190px;
	position: relative;
	z-index: 100;
	border-top: 1px solid #FFFFFF;
	border-radius: 6px;
}

 /* wygląd elementów li - potomków elementów ul podlisty rozwijanej będących potomkami elementów li głównej listy rozwijanej ol po najechaniu kursorem myszy*/

ol > li > ul > li:hover
{
	background-color: #00007A;
	border: 1px solid #FFFFFF;
}
 
  /* wyświetlenie listy rozwijanej ul po najechaniu kursorem myszy na element li głównej listy ol*/
 
ol > li:hover ul
{
	display: block;
} 
 
    /* ------------------------ROZWINIĘCIE MENU CZĘŚĆ 2------------------------ */

 /* wygląd elementów ol - drugiej podlisty rozwijanej*/
 
ol > li > ul > li > ol
  {
	 display: none;
	 width: 150%;
	 position: absolute;
	 left: 100%;
	 margin-top:-2em;
  }
  
 ol > li > ul > li > ol > li
 {
	 background-color: #00009C;
	 width: 75%;
	 border-top: 1px solid #FFFFFF;
	 border-left: 1px solid #FFFFFF;
	 border-radius: 6px;
 }
 
       /* wygląd głównego elementu - ol - w drugiej części rozwijanej, po najechaniu kursorem myszki na jego rodzica - li , tu było position: absolute*/
	  
ol > li > ul > li:hover > ol
{
	display: block;
}
 
.footer
{
	clear: both;
	width: 96%;
	height: 20px;
	background-color: #FDD700;
	font-size: 20px;
	padding: 5px 2%;
}  
      

		
		
		
		
		
		
		
		
		
		
		
		
		